@import "../utils/colors.scss";

.decksInfo {
  display: flex;
  margin: 0.35rem;
  min-height: 3rem;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 1.5rem;
  border: 2px solid #ffffff;
}

.deckInfo0 {
  color: $deck0;
}
.deckInfo1 {
  color: $deck1;
}
.deckInfo2 {
  color: $deck2;
}
.deckInfo3 {
  color: $deck3;
}
.deckInfo4 {
  color: $deck4;
}
.deckInfo5 {
  color: $deck5;
}
.deckInfo6 {
  color: $deck6;
}
.deckInfo7 {
  color: $deck7;
}

.mainContainer {
  min-height: calc( 100vh - 65px);
  margin: auto 0;
}

.trainingModal {
  background-color: $whiteColor; 
}
