$backGroundBlue: #e3f2fd;
$inputBlue: #e8f0fe;
$primaryBlue: #0d6dfc;
$whiteColor: #ffffff;
$blackColor: rgba(0, 0, 0, 0.9);
$successColor: #01ca01;
$darkSuccessColor: #009800;
$warningTextColor: #842029;
$warningBackground: #f8d7da;
$successBackground: #d1e7cb;
$deck0: #ff0000;
$deck1: #fc4f00;
$deck2: #f27600;
$deck3: #e29700;
$deck4: #cab500;
$deck5: #aad000;
$deck6: #7de800;
$deck7: #00ff00;
