$backGroundBlue: #e3f2fd;
$inputBlue: #e8f0fe;
$primaryBlue: #0d6dfc;
$lightBlue: #2979ff;
$whiteColor: #ffffff;
$blackColor: rgba(0, 0, 0, 0.9);
$successColor: #01ca01;
$disabledSuccessColor: #77916e;
$darkSuccessColor: #009800;
$warningTextColor: #842029;
$warningBackground: #f8d7da;
$successBackground: #d1e7cb;
$deck0: #ff0000;
$deck1: #ec4a00;
$deck2: #d66a00;
$deck3: #bc8000;
$deck4: #a09100;
$deck5: #829f00;
$deck6: #5faa00;
$deck7: #2db32d;
