$backGroundBlue: #e3f2fd;
$inputBlue: #e8f0fe;
$primaryBlue: #0d6efd;
$whiteColor: #ffffff;
$blackColor: rgba(0, 0, 0, 0.9);
$successColor: #01ca01;
$darkSuccessColor: #009800;
$warningTextColor: #842029;
$warningBackground: #f8d7da;
$successBackground: #d1e7cb;
