@import "./utils/colors.scss";

body {
  background-color: $backGroundBlue;
}

.logoFont {
  font-family: "Baumans", cursive;
  font-weight: 700;
}

.whiteText {
  color: $whiteColor;
}

.activeNavLink {
  color: $whiteColor;
  text-decoration: none;
  border-bottom: white 2px solid;
  padding-bottom: 3px;
}

.inactiveNavLink {
  color: $whiteColor;
  text-decoration: none;
}

.navLogo {
  color: $whiteColor;
  font-size: 26px;
  &:hover,
  &:focus {
    color: $whiteColor;
  }
}

.font17{
  font-size: 17px;
}

.logOutButton {
  background-color: $primaryBlue;
  border: 0;
  color: $whiteColor;
}

.hamburgerMenu {
  background-color: $primaryBlue;
  border: none;
  font-size: 22px;
  color: $whiteColor;
}

.mainRowHeight {
  min-height: calc(100vh - 69px);
}

.offCanvasLogo {
  color: $primaryBlue;
  font-size: 26px;
  &:hover,
  &:focus {
    color: $primaryBlue;
  }
}

.closeButton {
  color: $primaryBlue;
  border: none;
  font-size: 22px;
  background-color: $backGroundBlue;
}