@import "./utils/colors.scss";

body {
  background-color: $backGroundBlue;
}

.logoFont {
  font-family: "Baumans", cursive;
  font-weight: 700;
}

.whiteText {
  color: $whiteColor;
}

.activeNavLink {
  color: $whiteColor;
  text-decoration: none;
  border-bottom: $whiteColor 2px solid;
  padding-bottom: 3px;
  &:hover {
    color: $whiteColor;
    cursor: default;
  }
}

.inactiveNavLink {
  color: $whiteColor;
  text-decoration: none;
  &:hover {
    color: $blackColor;
  }
}

.navLogo {
  color: $whiteColor;
  font-size: 26px;
  &:focus,
  &:hover {
    color: $whiteColor;
  }
}

.font17 {
  font-size: 17px;
}

.logOutButton {
  background-color: $primaryBlue;
  border: 0;
  color: $whiteColor;
  &:hover {
    color: $blackColor;
  }
}

.hamburgerMenu {
  background-color: $primaryBlue;
  border: none;
  font-size: 22px;
  color: $whiteColor;
}

.mainRowHeight {
  min-height: calc(100vh - 69px);
}

.offCanvasLogo {
  color: $primaryBlue;
  font-size: 26px;
  &:hover,
  &:focus {
    color: $primaryBlue;
  }
}

.closeButton {
  color: $primaryBlue;
  border: none;
  font-size: 22px;
  background-color: $backGroundBlue;
}

.inactiveOffcanvasLink {
  margin: 0 0.5rem 1.5rem 0.5rem;
  text-decoration: none;
  &:hover {
    color: $blackColor;
  }
}

.activeOffcanvasLink {
  margin: 0 0.5rem 1.5rem 0.5rem;
  text-decoration: none;
  border-bottom: 2px solid;
  &:hover {
    cursor: default;
    color: $primaryBlue;
  }
}

.offcanvasLogOutButton {
  background-color: $backGroundBlue;
  border: 0;
  color: $primaryBlue;
  &:hover {
    color: $blackColor;
  }
}

.greenButton {
  background-color: $successColor;
  color: $whiteColor;
  &:hover {
    background-color: $darkSuccessColor;
    color: $whiteColor;
  }
}

.formikError {
  font-size: 14px;
  margin: -0.5rem 0 1rem 0;
  padding: 0.25rem 0.5rem;
  background-color: $warningBackground;
  color: $warningTextColor;
  max-width: fit-content;
  // border: 1px solid $warningTextColor;
  border-radius: 5px;
}

.cursorPointer {
  &:hover {
    cursor: pointer;
  }
}

.cursorDefault {
  &:hover {
    cursor: default;
  }
}

.modalTopPart {
  padding-bottom: 0;
  border-bottom: none;
}

.modalBottomPart {
  border-bottom: none;
}

.LoadingContainer {
  background-color: $backGroundBlue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 4rem;
  height: 4rem;
}